/* Basit grid yardımcıları */
.grid{display:grid;gap:1rem}
.grid-2{grid-template-columns:1fr}
.grid-3{grid-template-columns:1fr}
.grid-4{grid-template-columns:1fr}

@media(min-width:640px){
  .grid-2{grid-template-columns:repeat(2,1fr)}
}
@media(min-width:768px){
  .grid-3{grid-template-columns:repeat(3,1fr)}
}
@media(min-width:1024px){
  .grid-4{grid-template-columns:repeat(4,1fr)}
}
